@import url("https://fonts.googleapis.com/css2?family=Antonio&family=JetBrains+Mono:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Antonio&family=League+Spartan:wght@400;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  html {
    font-family: Spartan, system-ui, sans-serif;
    font-family: Antonio, system-ui, sans-serif;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-style: normal;
}
body {
  width: 100vw;
  height: 100vh;
  background-image: url(./assets/background-stars.svg);
  background-color: #070724;
}

/* @layer utilities {
  .bg-star {
    
  }
} */
